
* {
    -webkit-app-region: drag;
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
:root {
    --gap: 30px;
    --max-width-page: 2560px;
    --max-width-container-fluid: 1920px;
    --max-width-container: calc(1400px + calc(var(--gap) * 2));
    --main-cl: #ee4266;
    --yellow-cl: #ffd700;
    --white-cl: #ffffff;
    --black-cl: #141414;
    --gray-cl: #666666;
    --green-cl: #11bd99;
    --blue-cl: #00aabb;
    --fs-h1: 6.4rem;
    --lh1-h1: 5.4rem;
    --fs-h2: 5.6rem;
    --lh1-h2: 4.5rem;
    --fs-h3: 4.2rem;
    --lh-h3: 4.2rem;
    --fs-h4: 3.2rem;
    --lh-h4: 3.5rem;
    --fs-h5: 2.6rem;
    --lh-h5: 3.1rem;
    --fs-body: 1.8rem;
    --lh-body: 2rem;
    --height-header: 88px;
    --height-button: 42px;
    --pd-section: 70px;
    --t: 0.4s;
    --cubic: cubic-bezier(0.59, 0.29, 0.15, 0.93);
    --brus: 10px;
}
@media screen and (max-width: 1199.98px) {
    :root {
        --container-max-width: 1140px;
    }
}
@media screen and (max-width: 991.98px) {
    :root {
        --container-max-width: 960px;
    }
}
@media screen and (max-width: 767.98px) {
    :root {
        --container-max-width: 720px;
        --gap: 16px;
        --fs-h1: 6rem;
        --lh-h1: 6.8rem;
        --fs-h2: 5.5rem;
        --lh-h2: 6.2rem;
        --fs-h3: 4.2rem;
        --lh-h3: 4.2rem;
        --fs-h4: 3.2rem;
        --lh-h4: 3.5rem;
        --fs-body: 1.6rem;
        --lh-body: 1.9rem;
    }
}
@media screen and (max-width: 575.98px) {
    :root {
        --container-max-width: 100%;
    }
}

body {
    /*overflow-x: hidden;*/
    /*overflow-y: visible;*/
    box-sizing: border-box;
    /* max-height: 100vh;
    height: 100vh; */
    line-height: 1.7;
    color: #111;
    font-weight: 400;
    font-size: 1rem;
    font-family: pr;
}
ul {
    padding-inline-start: 0;
}
ul li {
    text-decoration: none;
    list-style: none;
    display: inline-block;
}
.header {
    height: 90px;
    background: var(--black-cl);
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.header__logo {
    background: var(--white-cl);
    border-radius: 50%;
    overflow: hidden;
    width: 75px;
    height: 75px;
}
.header__logo .img {
    width: 75px;
}
.header__navbar-sitemenu {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__navbar-sitemenu .item {
    padding: 15px 12px;
    position: relative;
}
.header__navbar-sitemenu .item .nameitem {
    color: var(--white-cl);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    text-decoration: none;
}
.header__navbar-sitemenu .item .nameitem .arrow {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    fill: var(--white-cl);
}
.header__navbar-sitemenu .item .dropmenu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    top: 45px;
    width: 100%;
    background: #252525;
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    margin-top: 20px;
    border-top: 2px solid var(--main-cl);
}
.header__navbar-sitemenu .item .dropmenu li {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    padding: 7px 12px;
}
.header__navbar-sitemenu .item .dropmenu li a {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    color: var(--white-cl);
    padding: 7px 12px;
    text-decoration: none;
}
.header__navbar-sitemenu .item .dropmenu li:hover {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    background: #fff;
}
.header__navbar-sitemenu .item .dropmenu li:hover a {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    color: var(--black-cl);
}
.header__navbar-sitemenu .item:hover .nameitem {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    color: var(--main-cl);
}
.header__navbar-sitemenu .item:hover .nameitem .arrow {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    fill: var(--main-cl);
}
.header__navbar-sitemenu .item:hover .dropmenu {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    margin-top: 0;
}
.header__right {
    display: flex;
    align-items: center;
    position: relative;
    min-width: 115px;
}
.header__right--icon {
    position: relative;
    padding: 10px;
}
.header__right--icon svg {
    height: 19px;
    width: 19px;
    fill: #fff;
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
}
.header__right--icon:hover svg {
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    fill: var(--main-cl);
}
.header__right--icon .number {
    font-size: 12px;
    position: absolute;
    top: -6px;
    right: 0px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-cl);
}
.header__right--icon.btnshow_search .icon_close {
    display: none;
}
.header__right--icon.active .icon_search {
    display: none;
}
.header__right--icon.active .icon_close {
    display: block;
}
.header__right--search {
    width: 0px;
    height: 46px;
    position: absolute;
    left: 50px;
    top: 50%;
    transform: translate(-100%, -50%);
    -webkit-transform: translate(-100%, -50%);
    -moz-transform: translate(-100%, -50%);
    -ms-transform: translate(-100%, -50%);
    -o-transform: translate(-100%, -50%);
    opacity: 0;
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    visibility: hidden;
    pointer-events: none;
}
.header__right--search.active {
    width: 350px;
    left: -5px;
    opacity: 1;
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    pointer-events: auto;
    visibility: visible;
}
/* Container */
.productItem {
    margin-top: 1.5rem;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productItem .productImage {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.productItem .productImage .image {
    width: 100%;
}
.productItem .productInfo {
    top: -100px;
    display: block;
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    font-size: 1rem;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
.productItem .productInfo .amount {
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
    margin-bottom: 0.5rem;
}
.productItem .productInfo .amount .remainAmount {
    width: 60%;
    background-color: #dc3545;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
.productItem .productInfo .productVariants {
    width: 100%;
    margin-bottom: 1rem;
}
.productItem .productInfo .productVariants i {
    color: red;
    cursor: pointer;
}
.productItem .productInfo .productVariants i a {
    color: red;
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
}
.productItem .productInfo .productVariants td {
    padding: 0.35rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.productItem .productInfo .productVariants .needHover:hover {
    cursor: pointer;
    color: #0056b3;
}
.productItem .productInfo .tutorials button {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #343a40;
    border-color: #343a40;
}
.productItem .productInfo .tutorials button:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    cursor: pointer;
}
.productInfoImage {
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
.productInfoImage .itemImage {
    position: relative;
    width: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 0.25rem !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
    opacity: 1;
    transform: translate(0) scale(1);
    transition-duration: 0.2s;
}
.productInfoImage .itemImage img {
    margin: auto;
    text-align: center !important;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
    overflow-clip-margin: content-box;
    overflow: clip;
}

/* footer */

.footer {
    background: var(--main-cl);
    color: var(--white-cl);
    padding: 80px 0;
}
.footer .container {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
}
.footer__left {
    width: 42%;
}
.footer__left--title {
    text-transform: capitalize;
    font-size: 1.2rem;
}
.footer__left .name {
    margin-top: 15px;
    font-size: 2.5rem;
    color: var(--black-cl);
    font-weight: 600;
    text-transform: uppercase;
}
.footer__right {
    width: 58%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer__right a {
    text-decoration: none;
}
.footer__right .title {
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--black-cl);
}
.footer__right--contact .contact-gr {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.footer__right--contact .contact-gr .label {
    margin-bottom: 10px;
    font-weight: 600;
}
.footer__right--contact .contact-gr a {
    color: var(--white-cl);
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
}
.footer__right--contact .contact-gr a:hover {
    color: var(--black-cl);
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
}
.footer__right--suport {
    display: flex;
    flex-direction: column;
    width: 300px;
}
.footer__right--suport a {
    color: var(--white-cl);
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
    text-transform: capitalize;
    padding-bottom: 10px;
    font-weight: 600;
}
.footer__right--suport a:hover {
    color: var(--black-cl);
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
}
.footer__right--store {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.footer__right--store .label {
    margin-bottom: 10px;
    font-weight: 600;
}
.footer__right--store a {
    color: var(--white-cl);
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
}
.footer__right--store a:hover {
    color: var(--black-cl);
    transition: var(--t);
    -webkit-transition: var(--t);
    -moz-transition: var(--t);
    -ms-transition: var(--t);
    -o-transition: var(--t);
}
.homepage .main .sale .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}
.homepage .main .sale__right {
    flex: 1;
}
.homepage .main .sale__right--list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

