<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>FinalEE.Controller.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerServlet</servlet-name>
        <servlet-class>FinalEE.Controller.AdminManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ItemDetailServlet</servlet-name>
        <servlet-class>FinalEE.Controller.ItemDetailServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>FinalEE.Controller.CartServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ItemSearchServlet</servlet-name>
        <servlet-class>FinalEE.Controller.ItemSearchServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>FinalEE.Controller.HeaderServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProfileUserServlet</servlet-name>
        <servlet-class>FinalEE.Controller.ProfileServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MailTest</servlet-name>
        <servlet-class>FinalEE.Controller.MailTest</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ManageAccountServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCustomerServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageDiscountCardServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageDiscountCardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItemCollectionServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageItemCollectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItemImageServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageItemImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItemMaterialServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageItemMaterialServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItemServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageItemTypeServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageItemTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderDetailServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageOrderDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageOrderStatusServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageOrderStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePermissionServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManagePermissionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageSaleServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageSaleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStockItemServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageStockItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageStatisticServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageStatisticServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCartServlet</servlet-name>
        <servlet-class>FinalEE.Controller.Manage.ManageCartServlet</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>ManageAccountServlet</servlet-name>
        <url-pattern>/ManageAccountServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminManagerServlet</servlet-name>
        <url-pattern>/AdminManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/ItemServlet</url-pattern>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ItemDetailServlet</servlet-name>
        <url-pattern>/ItemDetailServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/CartServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ItemSearchServlet</servlet-name>
        <url-pattern>/ItemSearchServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/HeaderServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProfileUserServlet</servlet-name>
        <url-pattern>/ProfileUserServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MailTest</servlet-name>
        <url-pattern>/MailTest</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManageCustomerServlet</servlet-name>
        <url-pattern>/ManageCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageDiscountCardServlet</servlet-name>
        <url-pattern>/ManageDiscountCardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItemCollectionServlet</servlet-name>
        <url-pattern>/ManageItemCollectionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItemImageServlet</servlet-name>
        <url-pattern>/ManageItemImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItemMaterialServlet</servlet-name>
        <url-pattern>/ManageItemMaterialServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItemServlet</servlet-name>
        <url-pattern>/ManageItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageItemTypeServlet</servlet-name>
        <url-pattern>/ManageItemTypeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderDetailServlet</servlet-name>
        <url-pattern>/ManageOrderDetailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderServlet</servlet-name>
        <url-pattern>/ManageOrderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageOrderStatusServlet</servlet-name>
        <url-pattern>/ManageOrderStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePermissionServlet</servlet-name>
        <url-pattern>/ManagePermissionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageSaleServlet</servlet-name>
        <url-pattern>/ManageSaleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStockItemServlet</servlet-name>
        <url-pattern>/ManageStockItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageStatisticServlet</servlet-name>
        <url-pattern>/ManageStatisticServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCartServlet</servlet-name>
        <url-pattern>/ManageCartServlet</url-pattern>
    </servlet-mapping>

</web-app>
