<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ItemServlet</servlet-name>
        <servlet-class>FinalEE.Controller.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminManagerServlet</servlet-name>
        <servlet-class>FinalEE.Controller.AdminManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ItemDetailServlet</servlet-name>
        <servlet-class>FinalEE.Controller.ItemDetailServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AdminManagerServlet</servlet-name>
        <url-pattern>/AdminManagerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemServlet</servlet-name>
        <url-pattern>/ItemServlet</url-pattern>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ItemDetailServlet</servlet-name>
        <url-pattern>/ItemDetailServlet</url-pattern>
    </servlet-mapping>

</web-app>
